.cr-header {
  margin-bottom: $spacer * .5;
  border-bottom: $border-width solid $border-color;
  background: linear-gradient(45deg, #8bc9b4, #39467f);

  &__nav-right {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
  }

  // &__notification-popover {
  //   &.popover {
  //     width: 320px;
  //     max-width: 320px;
  //     max-height: 100vh;
  //     overflow-y: scroll;
  //     cursor: pointer;
  //   }
  // }
}
