// page
.breadcrumb{
  background-color: #ffffff;
  border-radius: 0.6rem;
  font-weight: 400;
  font-size: 14px;
  color: #FFF;
  box-shadow: rgba(0,0, 0, .05) 0px 0.5rem 1rem;
}
.breadcrumb > .breadcrumb-item  > .active{
      color: rgba(0,0, 0, .05);
      text-decoration: none;
      background-color: transparent;
}

table thead tr th{
  border: none !important;
}
table thead tr th:first-child{
  border-top-left-radius: 1rem !important;
}

table thead tr th:last-child{
  border-top-right-radius: 1rem !important;
}
.table th, .table td{
  border-top: 1.5px solid #f3f3f3;
}

.cr-page {
  min-height: 100vh;
  &__header {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    font-weight: 200;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #565656;
    font-size: 1.7rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    padding: 0;
    text-transform: capitalize;
    background: theme-color('light');
  }

  .row {
    // stylelint-disable-next-line
    .col,
    > [class^='col-'] {
      margin-bottom: 1rem;
    }
  }
}

.cr-page-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
